<!-- development:style.css -->
<link rel="stylesheet" href="/assets/_dev/css/style.css/bootstrap.css" />
<link rel="stylesheet" href="/assets/_dev/css/style.css/theme.css" />
<link rel="stylesheet" href="/assets/_dev/css/style.css/font-awesome.css" />
<!-- endbuild -->
